<h1>@Model.GetJobTitle()</h1>
<p>@Model.GetCompany()</p>
<p>@Model.GetJobDuties()</p>
<p>@Model.GetYearsHeld()</p>

<h3><a href="/jobs/new">Add a Job to your Resume</a></h3>
<h3><a href="/jobs">View Your Work History</a></h3>
